:root {
    --nav-font: Arial, Helvetica, sans-serif; 
    --nav-height: 8vh;
    --UCLA-gold: #FFD100;
    --UCLA-blue: #2774AE;
    --UCLA-darkblue: #003B5C;
    --nav-darkblue: #05004a;
}
html {
    overflow-x: hidden;
    font-family: var(--nav-font);
    /* font-size: 1.2em; */
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}
a {
    color: black;
    text-decoration: none;
}
hr {
    width: 75%;
    color: silver;
    opacity: 0.5;
}
img {
    max-width: 100%;
}
ul {
    margin: 0;
}
li {
    margin-top: 15px;
}
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1 em;
    font-family: sans-serif;
    width: 30vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* margin: auto; */
}
thead tr {
    background-color: var(--UCLA-darkblue);
    color: #ffffff;
    text-align: left;
}
th, td {
    padding: 12px 10px;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid var(--UCLA-darkblue);
}
strong {
    color: var(--UCLA-blue);
}

.anchor {
    position: relative;
    display: block;
    /* visibility: hidden; */
    top: calc(-1 * var(--nav-height));
    height: 1px;
}

#nav {
    width: 96%;
    height: var(--nav-height);
    background-color: var(--nav-darkblue);
    position: fixed;
    top:0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    opacity: 1;
    /* border-bottom: 1px solid blue; */
}
#icon {
    font-size: 1.5em;
    font-family: var(--nav-font);
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-button {
    margin-left: 20px;
    font-family: var(--nav-font);
    color: white;
}
.nav-button:hover {
    color: var(--UCLA-gold);
}
#nav-icon {
    width: 1em;
    margin: 5px;
}
#footer {
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    font-size: 0.5em;
    color: grey;
}


#banner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: var(--nav-height);
    height: calc(100vh - var(--nav-height));
    width: 80vw;
    left: 10vw;
    /* -webkit-mask:linear-gradient(to left,transparent, #fff 10%,transparent 30%, transparent 70%, #fff 90%, transparent);
    mask:linear-gradient(to left,transparent, #fff 10%,transparent 30%, transparent 70%, #fff 90%, transparent); */
    margin-bottom: 40px;
}
.banner-img {
    height: 100%;
    position: absolute;

}
#title {
    margin-top: var(--nav-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(50vh - var(--nav-height));
    width: 100vw;
    left: 0vw;
    font-weight: bold;
    color: white;
    /* background: linear-gradient(to bottom, var(--nav-darkblue), var(--UCLA-blue)); */
    background: linear-gradient(180deg, var(--nav-darkblue), var(--UCLA-blue));
    /* background: linear-gradient(, var(--UCLA-darkblue), var(--UCLA-blue) 60%, white); */
}
#title-icon {
    width: 3em;
    margin: 10px;
}
#title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#title-text {
    font-size: 3em;
}
#subtitle-text {
    font-size: 1em;
    text-align: center;
}
.subtitle-highlights {
    color: white;
}
#title-padding-bottom {
    font-size: 1.5em;
}
#scroller::after {
    animation: bounce 2s ease infinite;
    color: white;
    content: '\21C3';
    font-size: 2rem;
    position: absolute;
    height: 4rem;
    bottom: 0rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 4rem;
    margin-left: -3rem;
    opacity: 0.8;
    text-align: center;
    width: 6rem;
    font-weight: lighter;
}

@keyframes bounce {
    50% {
        transform: translateY(-20%);
    }
}

#transition {
    height: 30vh;
    width: 100vw;
    left: 0;
    background: linear-gradient(to bottom, var(--UCLA-blue), white);
}


#body {
    width: 60vw;
    margin: auto;
}

.section {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 60px;
}

#example-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.example-img {
    width: 15vw;
}

#overview-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#overview-left {
    width: 30vw;
}
/* #overview-right {
    width: 20vw;
    height: 20vw;
} */
@media only screen and (max-width: 1000px) {
    #body {
        padding: 0;
        margin: 0;
        width: 100%;
        left: 0;
    }
    .section {
        width: 95%;
        padding: 2.5%;
    }
    #overview-content-wrapper {
        flex-direction: column;
    }
    #overview-left, #overview-right {
        width: 100%;
    }
    table {
        display: none;
    }
}
#task-pie-chart {
    width: 20vw;
    height: 20vw;
}
.col-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.col {
    width: 48%;
}

/* .marquee img {
    animation: marquee 60s linear infinite;
}
@keyframes marquee {
    0%  { transform: translate(0, 0);}
    25% { transform: translate(10vw, 0); }
    50% { transform: translate(0, 0);}
    75% { transform: translate(-10vw, 0); }
    100% { transform: translate(0, 0); }
} */